<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="am.css">
</head>
<body>
    <header>
        <div class="navbar">
        <div class="nav-logo border">
            <div class="logo"></div>
        </div>
        <div class="nav-adress border">
            <p class="add">Deliver to</p>
            <div class="add-icon">
                <i class="fa-solid fa-location-dot"></i>
                <p class="second">India</p>
            </div>
        </div>
        <div class="navserach">
            <select class="search-select">
                <option>All</option>
                <option>yellow</option>
            </select>
            <input placeholder="Search Amazon" class="searchinput">
            <div class="search_icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <div class="signin border" onclick="bh()">
            <p><span> Hello, sign in</span></p>
            <p class="bb"> Accounts & Lists</p>
        </div>
        <div class="return border">
            <p><span>Returns</span></p>
            <p class="bb"> & Orders</p>
        </div>
        <div class="cart border">
            <div class="caricon"><i class="fa-solid fa-cart-shopping"></i> Cart</div>
         
        </div>
        </div>
        <div class="panel">
<div class="panelall">
    <i class="fa-solid fa-bars"></i>
    All
</div>
    <div class="paneloptions">
        <p>Today s Deals</p>
        <p>Customer Service</p>
        <p> Registery</p>
        <p> Gift Cards</p>
        <p>Sell</p>
    </div>
    <div class="panel-deals">
        Shop deals in Electronics
    </div>
</div>

    </header>
    <div class="herosection">
    <div class="heroper">
    <p>You are on amazon. You can also shop on Amazon India for millions of products with fast local delivery. <a href="#">Click here to go to amazon.in</a></p>
    </div>
</div>
<div class="shop">
<div class="box1 box">
    <div class="boxcontent">
    <h2>Clothes</h2>
    <div class="boximage"></div>
    <p>See more</p>
</div>
</div>
<div class="box2 box">  <div class="boxcontent">
    <h2>Health & Personal Care</h2>
    <div class="boximage2"></div>
    <p>See more</p>
</div>
</div>
<div class="box3 box">
    <div class="boxcontent">
        <h2>Furniture</h2>
        <div class="boximage3"></div>
        <p>See more</p>
    </div>
</div>
<div class="box4 box">
    <div class="boxcontent">
        <h2>Samsung galaxy s22ultra</h2>
        <div class="boximage4"></div>
        <p>See more</p>
    </div>
</div>

</div>


<div class="shop">
    <div class="box1 box">
        <div class="boxcontent">
        <h2>Cosmetics</h2>
        <div class="boximage5"></div>
        <p>See more</p>
    </div>
    </div>
    <div class="box2 box">  <div class="boxcontent">
        <h2>Pet food</h2>
        <div class="boximage6"></div>
        <p>See more</p>
    </div>
    </div>
    <div class="box3 box">
        <div class="boxcontent">
            <h2>New Arriaval In Toys</h2>
            <div class="boximage7"></div>
            <p>See more</p>
        </div>
    </div>
    <div class="box4 box">
        <div class="boxcontent">
            <h2>Discover Fashion Trends</h2>
            <div class="boximage8"></div>
            <p>See more</p>
        </div>
    </div>
    
    </div>
    <footer>
        <div class="footpanel1">
            Back to Top
        </div>
        <div class="footpanel2">
            <ul>
               <h3> Get to Know Us</h3>
               <a>Careers</a>
               <a>Blog</a>
            <a> About Amazon</a>
            <a> Relations</a>
            <a>Amazon Devices </a>
            <a> Science</a>
            
            </ul>
            <ul>
                <h3> Get to Know Us</h3>
                <a>Careers</a>
                <a>Blog</a>
             <a> About Amazon</a>
             <a> Relations</a>
             <a>Amazon Devices </a>
             <a> Science</a>
             
             </ul>
             <ul>
                <h3> Get to Know Us</h3>
                <a>Careers</a>
                <a>Blog</a>
             <a> About Amazon</a>
             <a> Relations</a>
             <a>Amazon Devices </a>
             <a> Science</a>
             
             </ul>
             <ul>
                <h3> Get to Know Us</h3>
                <a>Careers</a>
                <a>Blog</a>
             <a> About Amazon</a>
             <a> Relations</a>
             <a>Amazon Devices </a>
             <a> Science</a>
             
             </ul>
        </div>
        <div class="footpanel3">
            <div class="logopanel3"></div>
        </div>
        <div class="footpanel4">
            <div class="footpage">
                <div class="a">Conditions of use</div>
                
                <div class="a">Privacy Notice</div>
                <div class="a">Your ads Privacy Choices</div>
                
            </div>
            <div class="copy">© 1996-2023, Amazon.com, Inc. or its affiliates</div>
        </div>
    </footer>


<script src="amazon.js"></script>

</body>
</html>