<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./login.css">
    <title>Www.login page</title>
</head>
<body>
    <section> 
        <div class="nav-logo">
        <div class="logo">
        
        </div>
    </div>
        <div class="l">
        <h3>Sign in</h3>
        <p>Email or mobile phone number</p>
        <input type="text" name="name" id="name" class="r" required><br>
        <button class="ss">Continue</button><br>
<div class="kj">
<p>By continuing, you agree to Amazon's</p> <a href="#">Conditions of Use</a><a href="#"> Privacy Notice</a>
<div class="ber">
<a href="" class="lll">NEED HELP?</a>
</div>
</div>

<div class="line"></div>
<p><b>Buying for work?</b><br>
Shop On Amazon Business</p>




    </div>
    
    <div class="new">
    <p>New to Amazon?</p>
    <button>Create your Amazon Acoount</button>
</div>
</section> 
</body>
</html>